.popup__heading {
  font-weight: 900;
  font-size: 24px;
  line-height: 29px;
  color: #000000;
  margin: 0 0 48px;
}

@media (max-width:640px) {
  .popup__heading {
  font-size: 18px;
  line-height: 22px;
  max-width: 238px;
  margin: 0 0 75px;
  }
}
