.popup__button {
  background-color: #000000;
  color: #FFFFFF;
  border-radius: 2px;
  font-weight: 400;
  font-size: 18px;
  line-height: 22px;
  text-align: center;
  margin-top: 18px;
  min-width: 358px;
  min-height: 50px;
  padding: 0;
  border: none;
}

.popup__button:hover {
  opacity: 0.8;
  cursor: pointer;
}

.popup__button:disabled {
  background-color: #FFFFFF;
  color:#000000;
  opacity: 0.2;
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
}


@media (max-width:640px) {
  .popup__button {
  min-width: 238px;
  margin-top: 45px;
  font-size: 14px;
  line-height: 17px;
  min-height: 46px;
  }
}
