.popup__input-error {
  color: #FF0000;
  font-size: 12px;
  line-height: 15px;
  font-weight: 400;

  padding: 0;
  border-top: 1px solid #FF0000;

  max-width: 358px;
  min-height: 30px;

  visibility: hidden;
}

@media (max-width:640px) {
  .popup__input-error {
  min-width: 238px;
  }
}
