.popup__container {
  display: flex;
  flex-direction: column;
  max-width:430px;
  position: relative;
  border-radius: 10px;
  box-shadow: 0px 0px 25px rgba(0, 0, 0, 0.15);
  background:#FFFFFF;
  align-items: center;
  padding: 34px 36px 37px;
}

@media (max-width:640px) {
  .popup__container {
    max-width: 282px;
    padding: 25px 22px;
  }
}
